# Browsers that are supported in production
> 0.2%
maintained node versions
not op_mini all

# Browsers that are supported in development
last 1 chrome version
last 1 firefox version
last 1 safari version
