.phishing-search-container {
  text-align: center;
  margin-top: 20px;
}

.search-message {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.search-wrapper {
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.search-form {
  margin-bottom: 0;
  background-color: white;
}

.search-form input[type="text"] {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  padding: 5px;
}

.search-form button {
  background-color:salmon;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.result-container {
  margin-top: 20px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.result-title {
  margin-bottom: 10px;
}

.phishing-item {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
}



  