.phishing-container {
    margin-top: 20px;
  }
  
  .phishing-container h2 {
    text-align: center;
  }
  
  .phishing-table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .phishing-table th,
  .phishing-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .toggle-button,
  .pagination-buttons button {
    background-color: salmon;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .toggle-button:hover,
  .pagination-buttons button:hover {
    opacity: 0.8;
  }
  


