.phishing-container {
    margin-top: 20px;
  }
  
  .phishing-container h2 {
    text-align: center;
  }
  
  .phishing-table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .phishing-table th,
  .phishing-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .toggle-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .toggle-button:hover {
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  